Ik die wat probeert wat David had gesugereerd in mail in december

In [1]:
load("HH-of-T3-15nov.sage")

In [2]:
S=SL2Z.0
T=SL2Z.1
T

[1 1]
[0 1]

In [3]:
A = SL2Z.random_element()
print(A)
B = Matrix(ZZ, [[13, 5], [44, 17]])
print(B)
N = SL2Z(B)
N

[-80 -63]
[ 47  37]
[13  5]
[44 17]

[13  5]
[44 17]

In [4]:
N

[13  5]
[44 17]

In [5]:
Blurange_table([N] ,7)

┌─────────────────┬────┬────┬─────┬──────┬──────┬───────┬───────┐
│ 0               | 1  | 2  | 3   | 4    | 5    | 6     | 7     |
╞═════════════════╪════╪════╪═════╪══════╪══════╪═══════╪═══════╡
│ [13  5]
[44 17] | 28 | 56 | 840 | 1652 | 3976 | 26768 | 52584 |
└─────────────────┴────┴────┴─────┴──────┴──────┴───────┴───────┘

In [6]:
Monica_table([N],4)

  ()                ()      (1,2)      (1,2)(3,4)   (1,2,3)    (1,2,3,4)
  [13  5]
[44 17]   (28,)   (28, 28)   (28,)        (28, 28)   (28,)

In [7]:
Monica_table([N],7)

  ()                ()      (1,2)      (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)    (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [13  5]
[44 17]   (28,)   (28, 28)   (28, 28)     (28, 28)          (28, 28)   (28, 28, 28)   (28, 28)            (28, 28)         (28, 28)    (28, 28, 28)     (28, 28)           (28, 28)      (28, 28)           (28, 28)        (28,)

In [8]:
C = Matrix(ZZ, [[3, 7], [2, 5]])
O = SL2Z(C)
O

[3 7]
[2 5]

In [9]:
Blurange_table([O] ,7)

┌─────────────┬───┬────┬────┬────┬─────┬─────┬─────┐
│ 0           | 1 | 2  | 3  | 4  | 5   | 6   | 7   |
╞═════════════╪═══╪════╪════╪════╪═════╪═════╪═════╡
│ [3 7]
[2 5] | 6 | 12 | 48 | 90 | 192 | 456 | 840 |
└─────────────┴───┴────┴────┴────┴─────┴─────┴─────┘

In [10]:
Monica_table([O],4)

  ()            ()     (1,2)    (1,2)(3,4)   (1,2,3)   (1,2,3,4)
  [3 7]
[2 5]   (6,)   (6, 6)   (6,)         (6, 6)    (6,)

In [11]:
Monica_table([O],5)

  ()            ()     (1,2)    (1,2)(3,4)   (1,2,3)   (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)
  [3 7]
[2 5]   (6,)   (6, 6)   (6, 6)       (6, 6)    (6, 6)         (6, 6)      (6,)

In [12]:
Monica_table([O],6)

  ()            ()     (1,2)    (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)   (1,2,3)(4,5)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4,5)   (1,2,3,4,5,6)
  [3 7]
[2 5]   (6,)   (6, 6)   (6, 6)       (6,)              (6, 6)    (6, 6, 6)      (6,)             (6, 6)      (6, 6)           (6, 6)        (6,)

In [13]:
Monica_table([O],7)

  ()            ()     (1,2)    (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)   (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [3 7]
[2 5]   (6,)   (6, 6)   (6, 6)       (6, 6)            (6, 6)    (6, 6, 6)      (6, 6)              (6, 6)           (6, 6)      (6, 6, 6)        (6, 6)             (6, 6)        (6, 6)             (6, 6)          (6,)

In [14]:
K = T**2*S*T**3*S**3
print(K)
Monica_table([K],7)

[-5  2]
[-3  1]

  ()                ()     (1,2)    (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)   (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [-5  2]
[-3  1]   (6,)   (6, 6)   (6, 6)       (6, 6)            (6, 6)    (6, 6, 6)      (6, 6)              (6, 6)           (6, 6)      (6, 6, 6)        (6, 6)             (6, 6)        (6, 6)             (6, 6)          (6,)

In [15]:
L = T**3*S*T**3*S**3
print(L)
Monica_table([L],7)

[-8  3]
[-3  1]

  ()                ()       (1,2)          (1,2)(3,4)     (1,2)(3,4)(5,6)   (1,2,3)        (1,2,3)(4,5)         (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)      (1,2,3,4)(5,6)       (1,2,3,4)(5,6,7)   (1,2,3,4,5)    (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [-8  3]
[-3  1]   (3, 3)   (3, 3, 3, 3)   (3, 3, 3, 3)   (3, 3, 3, 3)      (3, 3, 3, 3)   (3, 3, 3, 3, 3, 3)   (3, 3, 3, 3)        (3, 3, 3, 3)     (3, 3, 3, 3)   (3, 3, 3, 3, 3, 3)   (3, 3, 3, 3)       (3, 3, 3, 3)   (3, 3, 3, 3)       (3, 3, 3, 3)    (3, 3)

In [16]:
P = T**17*S*T**3*S**3
print(P)
Monica_table([P],7)

[-50  17]
[ -3   1]

  ()                    ()      (1,2)      (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)    (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [-50  17]
[ -3   1]   (51,)   (51, 51)   (51, 51)     (51, 51)          (51, 51)   (51, 51, 51)   (51, 51)            (51, 51)         (51, 51)    (51, 51, 51)     (51, 51)           (51, 51)      (51, 51)           (51, 51)        (51,)

In [17]:
PP = T**17*S*T**3*S
print(PP)
Monica_table([PP],7)

[ 50 -17]
[  3  -1]

  ()                    ()      (1,2)      (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)    (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [ 50 -17]
[  3  -1]   (47,)   (47, 47)   (47, 47)     (47, 47)          (47, 47)   (47, 47, 47)   (47, 47)            (47, 47)         (47, 47)    (47, 47, 47)     (47, 47)           (47, 47)      (47, 47)           (47, 47)        (47,)

In [18]:
R = T**11*S**2*T**3*S**3
print(R)
Monica_table([R],7)

[14 -1]
[ 1  0]

  ()                ()      (1,2)      (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)    (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [14 -1]
[ 1  0]   (12,)   (12, 12)   (12, 12)     (12, 12)          (12, 12)   (12, 12, 12)   (12, 12)            (12, 12)         (12, 12)    (12, 12, 12)     (12, 12)           (12, 12)      (12, 12)           (12, 12)        (12,)

In [19]:
Q = S*T**5*S**2*T**2*S*T**2
print(Q)
Monica_table([Q],7)

[  1   2]
[ -7 -13]

  ()                    ()      (1,2)      (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)    (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [  1   2]
[ -7 -13]   (14,)   (14, 14)   (14, 14)     (14, 14)          (14, 14)   (14, 14, 14)   (14, 14)            (14, 14)         (14, 14)    (14, 14, 14)     (14, 14)           (14, 14)      (14, 14)           (14, 14)        (14,)

In [20]:
Monica_table([S*T],7)

  ()                ()   (1,2)   (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)   (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [ 0 -1]
[ 1  1]   ()   ()      ()           ()                ()        ()             ()                  ()               ()          ()               ()                 ()            ()                 ()              ()

23/03 onto something? see notes Blue: trying out what David suggested

In [23]:
some_elements = []
for i in range(7):
    A = SL2Z.random_element()
    some_elements.append(A)
some_elements

[
[-35 -44]  [64 17]  [-80  51]  [-10 -57]  [  1   6]  [-37 -71]
[-66 -83], [79 21], [ 69 -44], [ 13  74], [-10 -59], [ 49  94],

[ 81 -62]
[ 98 -75]
]

In [24]:
Monica_table(some_elements,7)

  ()                    ()        (1,2)            (1,2)(3,4)       (1,2)(3,4)(5,6)   (1,2,3)          (1,2,3)(4,5)            (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)        (1,2,3,4)(5,6)          (1,2,3,4)(5,6,7)   (1,2,3,4,5)      (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)    (1,2,3,4,5,6,7)
  [-35 -44]
[-66 -83]   (2, 60)   (2, 2, 60, 60)   (2, 2, 60, 60)   (2, 2, 60, 60)    (2, 2, 60, 60)   (2, 2, 2, 60, 60, 60)   (2, 2, 60, 60)      (2, 2, 60, 60)   (2, 2, 60, 60)   (2, 2, 2, 60, 60, 60)   (2, 2, 60, 60)     (2, 2, 60, 60)   (2, 2, 60, 60)     (2, 2, 60, 60)   (2, 60)
  [64 17]
[79 21]       (83,)     (83, 83)         (83, 83)         (83, 83)          (83, 83)         (83, 83, 83)            (83, 83)            (83, 83)         (83, 83)         (83, 83, 83)            (83, 83)           (83, 83)         (83, 83)           (83, 83)         (83,)
  [-80  51]
[ 69 -44]   (3, 42)   (3, 3, 42, 42)   (3, 3, 42, 42)   (3, 3, 42, 42)    (3, 3, 42, 42)   (3, 3, 3, 42, 42, 42)   (3, 3, 42, 42)      (3, 3, 42, 42)   (3, 3, 42, 42)   (3, 3, 3, 42, 42, 42)   (3, 3, 42, 42)     (3, 3, 42, 42)   (3, 3, 42, 42)     (3, 3, 42, 42)   (3, 42)
  [-10 -57]
[ 13  74]   (62,)     (62, 62)         (62, 62)         (62, 62)          (62, 62)         (62, 62, 62)            (62, 62)            (62, 62)         (62, 62)         (62, 62, 62)            (62, 62)           (62, 62)         (62, 62)           (62, 62)         (62,)
  [  1   6]
[-10 -59]   (2, 30)   (2, 2, 30, 30)   (2, 2, 30, 30)   (2, 2, 30, 30)    (2, 2, 30, 30)   (2, 2, 2, 30, 30, 30)   (2, 2, 30, 30)      (2, 2, 30, 30)   (2, 2, 30, 30)   (2, 2, 2, 30, 30, 30)   (2, 2, 30, 30)     (2, 2, 30, 30)   (2, 2, 30, 30)     (2, 2, 30, 30)   (2, 30)
  [-37 -71]
[ 49  94]   (55,)     (55, 55)         (55, 55)         (55, 55)          (55, 55)         (55, 55, 55)            (55, 55)            (55, 55)         (55, 55)         (55, 55, 55)            (55, 55)           (55, 55)         (55, 55)           (55, 55)         (55,)
  [ 81 -62]
[ 98 -75]   (2, 2)    (2, 2, 2, 2)     (2, 2, 2, 2)     (2, 2, 2, 2)      (2, 2, 2, 2)     (2, 2, 2, 2, 2, 2)      (2, 2, 2, 2)        (2, 2, 2, 2)     (2, 2, 2, 2)     (2, 2, 2, 2, 2, 2)      (2, 2, 2, 2)       (2, 2, 2, 2)     (2, 2, 2, 2)       (2, 2, 2, 2)     (2, 2)

In [26]:
Monica_table([S],7)

  ()                ()     (1,2)    (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)   (1,2,3)(4,5)   (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)   (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [ 0 -1]
[ 1  0]   (2,)   (2, 2)   (2, 2)       (2, 2)            (2, 2)    (2, 2, 2)      (2, 2)              (2, 2)           (2,)        (2, 2)           (2,)               (2, 2)        (2, 2)             (2, 2)          (2,)

testing for the 8 classes described in notes

S*T^l1*S*T^l2*S*...*T^ld*S

In [32]:
Monica_table([S*T**5*S, S*T**5*S*T**2*S,S*T**2*S*T**5*S, S*T**7*S*T**17*S*T**11*S,  S*T**11*S*T**17*S*T**7*S, S*T**17*S*T**11*S*T**7*S ],6)

  ()                        ()       (1,2)        (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)      (1,2,3)(4,5)      (1,2,3)(4,5,6)   (1,2,3,4)    (1,2,3,4)(5,6)   (1,2,3,4,5)   (1,2,3,4,5,6)
  [-1  0]
[ 5 -1]           (4,)     (2, 4)       (2, 4)       (2,)              (4, 4)       (2, 4, 4)         (4,)             (2, 4)       (2, 2)           (4, 4)        (2,)
  [-2  1]
[ 9 -5]           (9,)     (9, 9)       (9, 9)       (9,)              (9, 9)       (9, 9, 9)         (9,)             (9, 9)       (9, 9)           (9, 9)        (9,)
  [-5  1]
[ 9 -2]           (9,)     (9, 9)       (9, 9)       (9,)              (9, 9)       (9, 9, 9)         (9,)             (9, 9)       (9, 9)           (9, 9)        (9,)
  [-186   17]
[1291 -118]   (306,)   (306, 306)   (306, 306)   (306,)            (306, 306)   (306, 306, 306)   (306,)           (306, 306)   (306, 306)       (306, 306)    (306,)
  [-118   17]
[1291 -186]   (306,)   (306, 306)   (306, 306)   (306,)            (306, 306)   (306, 306, 306)   (306,)           (306, 306)   (306, 306)       (306, 306)    (306,)
  [ -76   11]
[1285 -186]   (264,)   (264, 264)   (264, 264)   (264,)            (264, 264)   (264, 264, 264)   (264,)           (264, 264)   (264, 264)       (264, 264)    (264,)

quick check dat conjugated gammas give same result: YES

In [40]:
conj_class = SL2Z.conjugacy_class(Q)
Monica_table([conj_class[k] for k in range(6)],6)

  ()                    ()      (1,2)      (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)    (1,2,3)(4,5)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4,5)   (1,2,3,4,5,6)
  [  1   2]
[ -7 -13]   (14,)   (14, 14)   (14, 14)     (14,)             (14, 14)   (14, 14, 14)   (14,)            (14, 14)    (14, 14)         (14, 14)      (14,)
  [-13   7]
[ -2   1]   (14,)   (14, 14)   (14, 14)     (14,)             (14, 14)   (14, 14, 14)   (14,)            (14, 14)    (14, 14)         (14, 14)      (14,)
  [-6 -5]
[-7 -6]       (14,)   (14, 14)   (14, 14)     (14,)             (14, 14)   (14, 14, 14)   (14,)            (14, 14)    (14, 14)         (14, 14)      (14,)
  [  8  23]
[ -7 -20]   (14,)   (14, 14)   (14, 14)     (14,)             (14, 14)   (14, 14, 14)   (14,)            (14, 14)    (14, 14)         (14, 14)      (14,)
  [-15  23]
[ -2   3]   (14,)   (14, 14)   (14, 14)     (14,)             (14, 14)   (14, 14, 14)   (14,)            (14, 14)    (14, 14)         (14, 14)      (14,)
  [-11  -5]
[ -2  -1]   (14,)   (14, 14)   (14, 14)     (14,)             (14, 14)   (14, 14, 14)   (14,)            (14, 14)    (14, 14)         (14, 14)      (14,)

4 classes: A, SAS, AS, -AS where A = T^l1*S*T^l2*S*...*T^ld

class -AS

In [46]:
Monica_table([S**2*T**5*S, S**2*T**5*S*T**2*S,S**2*T**2*S*T**5*S, S**2*T**7*S*T**17*S*T**11*S,  S**2*T**11*S*T**17*S*T**7*S, S**2*T**17*S*T**11*S*T**7*S, S**2*T**7*S*T**17*S*T**2*S*T**11*S ],6)

  ()                            ()         (1,2)              (1,2)(3,4)         (1,2)(3,4)(5,6)   (1,2,3)            (1,2,3)(4,5)               (1,2,3)(4,5,6)   (1,2,3,4)          (1,2,3,4)(5,6)     (1,2,3,4,5)        (1,2,3,4,5,6)
  [-5  1]
[-1  0]               (7,)       (7, 7)             (7, 7)             (7,)              (7, 7)             (7, 7, 7)                  (7,)             (7, 7)             (7, 7)             (7, 7)             (7,)
  [-9  5]
[-2  1]               (10,)      (10, 10)           (10, 10)           (10,)             (10, 10)           (10, 10, 10)               (10,)            (10, 10)           (10, 10)           (10, 10)           (10,)
  [-9  2]
[-5  1]               (10,)      (10, 10)           (10, 10)           (10,)             (10, 10)           (10, 10, 10)               (10,)            (10, 10)           (10, 10)           (10, 10)           (10,)
  [-1291   118]
[ -186    17]   (2, 638)   (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 638)          (2, 2, 638, 638)   (2, 2, 2, 638, 638, 638)   (2, 638)         (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 638)
  [-1291   186]
[ -118    17]   (2, 638)   (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 638)          (2, 2, 638, 638)   (2, 2, 2, 638, 638, 638)   (2, 638)         (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 638)
  [-1285   186]
[  -76    11]   (2, 638)   (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 638)          (2, 2, 638, 638)   (2, 2, 2, 638, 638, 638)   (2, 638)         (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 2, 638, 638)   (2, 638)
  [-2401   229]
[ -346    33]   (2370,)    (2370, 2370)       (2370, 2370)       (2370,)           (2370, 2370)       (2370, 2370, 2370)         (2370,)          (2370, 2370)       (2370, 2370)       (2370, 2370)       (2370,)

If I believe the statement that for gamma general enough (no zero entries?) the rule is: each distinct cycle -> a number c. Then I can just calculate for GL1? Yes

In [47]:
Monica_table([S**2*T**5*S, S**2*T**5*S*T**2*S,S**2*T**2*S*T**5*S, S**2*T**7*S*T**17*S*T**11*S,  S**2*T**11*S*T**17*S*T**7*S, S**2*T**17*S*T**11*S*T**7*S, S**2*T**7*S*T**17*S*T**2*S*T**11*S ],1)

  ()                            ()
  [-5  1]
[-1  0]               (7,)
  [-9  5]
[-2  1]               (10,)
  [-9  2]
[-5  1]               (10,)
  [-1291   118]
[ -186    17]   (2, 638)
  [-1291   186]
[ -118    17]   (2, 638)
  [-1285   186]
[  -76    11]   (2, 638)
  [-2401   229]
[ -346    33]   (2370,)

In [56]:
Monica_table([S**2*T**5*S*T**11*S,S**2*T**11*S*T**5*S,S**2*T**6*S*T**8*S,S**2*T**20*S*T**9*S, S**2*T**2*S*T**3*S*T**5*S*T**7*S ],3)

  ()                        ()        (1,2)            (1,2,3)
  [-54   5]
[-11   1]       (55,)     (55, 55)         (55,)
  [-54  11]
[ -5   1]       (55,)     (55, 55)         (55,)
  [-47   6]
[ -8   1]       (2, 24)   (2, 2, 24, 24)   (2, 24)
  [-179   20]
[  -9    1]   (180,)    (180, 180)       (180,)
  [-156   23]
[ -95   14]   (144,)    (144, 144)       (144,)

Order of li's doesn't matter. It does :((

In [58]:
Monica_table([S**2*T**2*S*T**3*S*T**5*S*T**7*S,S**2*T**5*S*T**3*S*T**2*S*T**7*S, S**2*T**7*S*T**2*S*T**5*S*T**3*S ],3)

  ()                        ()       (1,2)        (1,2,3)
  [-156   23]
[ -95   14]   (144,)   (144, 144)   (144,)
  [-147   23]
[ -32    5]   (144,)   (144, 144)   (144,)
  [-161   58]
[ -25    9]   (154,)   (154, 154)   (154,)

Class AS

In [61]:
Monica_table([T**5*S, T**5*S*T**2*S,T**2*S*T**5*S, T**7*S*T**17*S*T**11*S,  T**11*S*T**17*S*T**7*S, T**17*S*T**11*S*T**7*S, T**7*S*T**17*S*T**2*S*T**11*S, T**(-7)*S*T**17*S*T**2*S*T**11*S ],5)

  ()                            ()         (1,2)              (1,2)(3,4)         (1,2,3)            (1,2,3)(4,5)       (1,2,3,4)          (1,2,3,4,5)
  [ 5 -1]
[ 1  0]               (3,)       (3, 3)             (3, 3)             (3, 3)             (3, 3)             (3, 3)             (3,)
  [ 9 -5]
[ 2 -1]               (6,)       (6, 6)             (6, 6)             (6, 6)             (6, 6)             (6, 6)             (6,)
  [ 9 -2]
[ 5 -1]               (6,)       (6, 6)             (6, 6)             (6, 6)             (6, 6)             (6, 6)             (6,)
  [1291 -118]
[ 186  -17]       (2, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 636)
  [1291 -186]
[ 118  -17]       (2, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 636)
  [1285 -186]
[  76  -11]       (2, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 2, 636, 636)   (2, 636)
  [2401 -229]
[ 346  -33]       (2366,)    (2366, 2366)       (2366, 2366)       (2366, 2366)       (2366, 2366)       (2366, 2366)       (2366,)
  [-2443   233]
[  346   -33]   (2478,)    (2478, 2478)       (2478, 2478)       (2478, 2478)       (2478, 2478)       (2478, 2478)       (2478,)

guess: is  c for AS  + 4 = c for -AS ???

In [60]:
Monica_table([T**2*S*T**3*S*T**5*S*T**7*S,T**5*S*T**3*S*T**2*S*T**7*S, T**7*S*T**2*S*T**5*S*T**3*S ],3)

  ()                    ()       (1,2)        (1,2,3)
  [156 -23]
[ 95 -14]   (140,)   (140, 140)   (140,)
  [147 -23]
[ 32  -5]   (140,)   (140, 140)   (140,)
  [161 -58]
[ 25  -9]   (150,)   (150, 150)   (150,)

Seems like it!

Class A

In [62]:
Monica_table([ T**5*S*T**2,T**2*S*T**5, T**7*S*T**17*S*T**11,  T**11*S*T**17*S*T**7, T**17*S*T**11*S*T**7, T**7*S*T**17*S*T**2*S*T**11, T**(-7)*S*T**17*S*T**2*S*T**11],5)

  ()                            ()       (1,2)        (1,2)(3,4)   (1,2,3)      (1,2,3)(4,5)   (1,2,3,4)    (1,2,3,4,5)
  [5 9]
[1 2]                   (5,)     (5, 5)       (5, 5)       (5, 5)       (5, 5)         (5, 5)       (5,)
  [2 9]
[1 5]                   (5,)     (5, 5)       (5, 5)       (5, 5)       (5, 5)         (5, 5)       (5,)
  [ 118 1291]
[  17  186]       (302,)   (302, 302)   (302, 302)   (302, 302)   (302, 302)     (302, 302)   (302,)
  [ 186 1291]
[  17  118]       (302,)   (302, 302)   (302, 302)   (302, 302)   (302, 302)     (302, 302)   (302,)
  [ 186 1285]
[  11   76]       (260,)   (260, 260)   (260, 260)   (260, 260)   (260, 260)     (260, 260)   (260,)
  [ 229 2401]
[  33  346]       (573,)   (573, 573)   (573, 573)   (573, 573)   (573, 573)     (573, 573)   (573,)
  [ -233 -2443]
[   33   346]   (111,)   (111, 111)   (111, 111)   (111, 111)   (111, 111)     (111, 111)   (111,)

In [65]:
Monica_table([ T**5*S*T**2,T**2*S*T**5, T**7*S*T**17*S*T**11,  T**11*S*T**17*S*T**7, T**17*S*T**11*S*T**7, T**7*S*T**17*S*T**2*S*T**11, T**(-7)*S*T**17*S*T**2*S*T**11],1)

  ()                            ()
  [5 9]
[1 2]                   (5,)
  [2 9]
[1 5]                   (5,)
  [ 118 1291]
[  17  186]       (302,)
  [ 186 1291]
[  17  118]       (302,)
  [ 186 1285]
[  11   76]       (260,)
  [ 229 2401]
[  33  346]       (573,)
  [ -233 -2443]
[   33   346]   (111,)

In [63]:
Monica_table([T**2*S*T**3*S*T**5*S*T**7,T**5*S*T**3*S*T**2*S*T**7, T**7*S*T**2*S*T**5*S*T**3 ],3)

  ()                    ()        (1,2)            (1,2,3)
  [ 23 156]
[ 14  95]   (2, 58)   (2, 2, 58, 58)   (2, 58)
  [ 23 147]
[  5  32]   (53,)     (53, 53)         (53,)
  [ 58 161]
[  9  25]   (81,)     (81, 81)         (81,)

Class SAS

What....?????? It's always a+d-2 !!!!!!! (geen faculteit)

In [66]:
Monica_table([S*T**5*S, S*T**5*S*T**2*S,S*T**2*S*T**5*S, S*T**7*S*T**17*S*T**11*S,  S*T**11*S*T**17*S*T**7*S, S*T**17*S*T**11*S*T**7*S, S*T**7*S*T**17*S*T**2*S*T**11*S, S*T**(-7)*S*T**17*S*T**2*S*T**11*S ],5)

  ()                            ()       (1,2)        (1,2)(3,4)   (1,2,3)      (1,2,3)(4,5)   (1,2,3,4)    (1,2,3,4,5)
  [-1  0]
[ 5 -1]               (4,)     (2, 4)       (2, 4)       (4, 4)       (2, 4)         (2, 4)       (4,)
  [-2  1]
[ 9 -5]               (9,)     (9, 9)       (9, 9)       (9, 9)       (9, 9)         (9, 9)       (9,)
  [-5  1]
[ 9 -2]               (9,)     (9, 9)       (9, 9)       (9, 9)       (9, 9)         (9, 9)       (9,)
  [-186   17]
[1291 -118]       (306,)   (306, 306)   (306, 306)   (306, 306)   (306, 306)     (306, 306)   (306,)
  [-118   17]
[1291 -186]       (306,)   (306, 306)   (306, 306)   (306, 306)   (306, 306)     (306, 306)   (306,)
  [ -76   11]
[1285 -186]       (264,)   (264, 264)   (264, 264)   (264, 264)   (264, 264)     (264, 264)   (264,)
  [-346   33]
[2401 -229]       (577,)   (577, 577)   (577, 577)   (577, 577)   (577, 577)     (577, 577)   (577,)
  [ -346    33]
[-2443   233]   (115,)   (115, 115)   (115, 115)   (115, 115)   (115, 115)     (115, 115)   (115,)

In [73]:
H = S*T**17*S*T**11*S*T**7*S
H[1,1]+ H[0,0] -2

-264

Let's make a table!

In [89]:
def Blue_table(L,n,take_coinvariants=True):
    """
    sage: gamma = SL2Z.1^4
    sage: try_all_conjugacy_classes(gamma,5,take_coinvariants)

    """
    conjugacy_classes = [cc.an_element() for cc in SymmetricGroup(n).conjugacy_classes()]
    
    return table([[conjugacy_classes[0]] + conjugacy_classes+ ["|trace(gamma-id)|"]] + [[l] + [get_cokernel(l,sigma,take_coinvariants).invariants() for sigma in conjugacy_classes]+ [abs(l[0,0]+l[1,1]-2)] for l in L])

In [83]:
some_elements2 = []
for i in range(7):
    A = SL2Z.random_element()
    some_elements2.append(A)

Blue_table(some_elements2,5)

  ()                    ()       (1,2)        (1,2)(3,4)   (1,2,3)        (1,2,3)(4,5)   (1,2,3,4)    (1,2,3,4,5)   trace(gamma-id)
  [18 37]
[35 72]       (88,)    (88, 88)     (88, 88)     (88, 88)       (88, 88)       (88, 88)     (88,)         88
  [  5 -11]
[ 41 -90]   (87,)    (87, 87)     (87, 87)     (87, 87)       (87, 87)       (87, 87)     (87,)         87
  [-19  13]
[ 73 -50]   (71,)    (71, 71)     (71, 71)     (71, 71)       (71, 71)       (71, 71)     (71,)         71
  [-41  98]
[-18  43]   (2,)     (2, 4)       (2, 4)       (2, 6)         (2, 12)        (2, 8)       (10,)         0
  [ 48   1]
[-97  -2]   (44,)    (44, 44)     (44, 44)     (44, 44)       (44, 44)       (44, 44)     (44,)         44
  [ 83 -98]
[ 72 -85]   (2, 2)   (2, 2, 2)    (2, 2, 2)    (2, 2, 2, 2)   (2, 2, 2)      (2, 2, 2)    (2, 2)        4
  [58 69]
[79 94]       (150,)   (150, 150)   (150, 150)   (150, 150)     (150, 150)     (150, 150)   (150,)        150

In [84]:
some_elements3 = []
for i in range(7):
    A = SL2Z.random_element()
    some_elements3.append(A)

Blue_table(some_elements3,5)

  ()                    ()        (1,2)            (1,2)(3,4)       (1,2,3)          (1,2,3)(4,5)     (1,2,3,4)        (1,2,3,4,5)   trace(gamma-id)
  [ 53 -18]
[ 56 -19]   (2, 16)   (2, 2, 16, 16)   (2, 2, 16, 16)   (2, 2, 16, 16)   (2, 2, 16, 16)   (2, 2, 16, 16)   (2, 16)       32
  [-23  20]
[-61  53]   (28,)     (28, 28)         (28, 28)         (28, 28)         (28, 28)         (28, 28)         (28,)         28
  [ 3 10]
[20 67]       (2, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 34)       68
  [ 48 -61]
[ 37 -47]   ()        ()               ()               ()               ()               ()               ()            1
  [ 11  32]
[-10 -29]   (2, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 10)       20
  [-89  12]
[-52   7]   (2, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 42)       84
  [31 51]
[48 79]       (3, 36)   (3, 3, 36, 36)   (3, 3, 36, 36)   (3, 3, 36, 36)   (3, 3, 36, 36)   (3, 3, 36, 36)   (3, 36)       108

In [87]:
Blue_table([S*T,T*S],5)

  ()                ()   (1,2)   (1,2)(3,4)   (1,2,3)   (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)   trace(gamma-id)
  [ 0 -1]
[ 1  1]   ()   ()      ()           ()        ()             ()          ()            1
  [ 1 -1]
[ 1  0]   ()   ()      ()           ()        ()             ()          ()            1

In [88]:
some_elements4 = []
for i in range(20):
    A = SL2Z.random_element()
    some_elements4.append(A)

Blue_table(some_elements4,5)

  ()                    ()        (1,2)            (1,2)(3,4)       (1,2,3)          (1,2,3)(4,5)     (1,2,3,4)        (1,2,3,4,5)   trace(gamma-id)
  [ 67  31]
[-80 -37]   (28,)     (28, 28)         (28, 28)         (28, 28)         (28, 28)         (28, 28)         (28,)         28
  [ 53  51]
[-79 -76]   (25,)     (25, 25)         (25, 25)         (25, 25)         (25, 25)         (25, 25)         (25,)         25
  [36 43]
[41 49]       (83,)     (83, 83)         (83, 83)         (83, 83)         (83, 83)         (83, 83)         (83,)         83
  [-18  19]
[ 71 -75]   (95,)     (95, 95)         (95, 95)         (95, 95)         (95, 95)         (95, 95)         (95,)         95
  [  1  -7]
[-10  71]   (70,)     (70, 70)         (70, 70)         (70, 70)         (70, 70)         (70, 70)         (70,)         70
  [-27   2]
[-95   7]   (22,)     (22, 22)         (22, 22)         (22, 22)         (22, 22)         (22, 22)         (22,)         22
  [ -1  10]
[  8 -81]   (2, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 2, 42, 42)   (2, 42)       84
  [-55  -3]
[ 92   5]   (52,)     (52, 52)         (52, 52)         (52, 52)         (52, 52)         (52, 52)         (52,)         52
  [ 29 -72]
[-31  77]   (104,)    (104, 104)       (104, 104)       (104, 104)       (104, 104)       (104, 104)       (104,)        104
  [ 89 -41]
[ 76 -35]   (52,)     (52, 52)         (52, 52)         (52, 52)         (52, 52)         (52, 52)         (52,)         52
  [-37  52]
[-42  59]   (2, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 2, 10, 10)   (2, 10)       20
  [ 61 -89]
[-37  54]   (113,)    (113, 113)       (113, 113)       (113, 113)       (113, 113)       (113, 113)       (113,)        113
  [ 23   4]
[-98 -17]   (2, 2)    (2, 2, 2, 2)     (2, 2, 2, 2)     (2, 2, 2, 2)     (2, 2, 2, 2)     (2, 2, 2, 2)     (2, 2)        4
  [-23 -40]
[ 42  73]   (2, 24)   (2, 2, 24, 24)   (2, 2, 24, 24)   (2, 2, 24, 24)   (2, 2, 24, 24)   (2, 2, 24, 24)   (2, 24)       48
  [ 46  47]
[-47 -48]   (4,)      (2, 4)           (2, 4)           (4, 4)           (2, 4)           (2, 4)           (4,)          4
  [-10  37]
[ 17 -63]   (75,)     (75, 75)         (75, 75)         (75, 75)         (75, 75)         (75, 75)         (75,)         75
  [-4 -1]
[53 13]       (7,)      (7, 7)           (7, 7)           (7, 7)           (7, 7)           (7, 7)           (7,)          7
  [ 24  47]
[-47 -92]   (70,)     (70, 70)         (70, 70)         (70, 70)         (70, 70)         (70, 70)         (70,)         70
  [-57  50]
[ 49 -43]   (102,)    (102, 102)       (102, 102)       (102, 102)       (102, 102)       (102, 102)       (102,)        102
  [19 37]
[39 76]       (93,)     (93, 93)         (93, 93)         (93, 93)         (93, 93)         (93, 93)         (93,)         93

In [90]:
some_elements5 = []
for i in range(20):
    A = SL2Z.random_element()
    some_elements5.append(A)

Blue_table(some_elements5,5)

  ()                    ()        (1,2)            (1,2)(3,4)       (1,2,3)          (1,2,3)(4,5)     (1,2,3,4)        (1,2,3,4,5)   |trace(gamma-id)|
  [-90  19]
[ 71 -15]   (107,)    (107, 107)       (107, 107)       (107, 107)       (107, 107)       (107, 107)       (107,)        107
  [ 9 14]
[43 67]       (74,)     (74, 74)         (74, 74)         (74, 74)         (74, 74)         (74, 74)         (74,)         74
  [-25 -34]
[ 39  53]   (26,)     (26, 26)         (26, 26)         (26, 26)         (26, 26)         (26, 26)         (26,)         26
  [  8   9]
[-73 -82]   (76,)     (76, 76)         (76, 76)         (76, 76)         (76, 76)         (76, 76)         (76,)         76
  [  9 -91]
[ -8  81]   (88,)     (88, 88)         (88, 88)         (88, 88)         (88, 88)         (88, 88)         (88,)         88
  [-13  43]
[ 29 -96]   (111,)    (111, 111)       (111, 111)       (111, 111)       (111, 111)       (111, 111)       (111,)        111
  [-41 -96]
[-38 -89]   (2, 66)   (2, 2, 66, 66)   (2, 2, 66, 66)   (2, 2, 66, 66)   (2, 2, 66, 66)   (2, 2, 66, 66)   (2, 66)       132
  [ -5   6]
[ 59 -71]   (78,)     (78, 78)         (78, 78)         (78, 78)         (78, 78)         (78, 78)         (78,)         78
  [-6 -1]
[73 12]       (4,)      (4, 4)           (4, 4)           (4, 4)           (4, 4)           (4, 4)           (4,)          4
  [-11 -64]
[ 16  93]   (4, 20)   (4, 4, 20, 20)   (4, 4, 20, 20)   (4, 4, 20, 20)   (4, 4, 20, 20)   (4, 4, 20, 20)   (4, 20)       80
  [  9 -13]
[ 61 -88]   (81,)     (81, 81)         (81, 81)         (81, 81)         (81, 81)         (81, 81)         (81,)         81
  [-12  49]
[ 23 -94]   (108,)    (108, 108)       (108, 108)       (108, 108)       (108, 108)       (108, 108)       (108,)        108
  [-57  52]
[-91  83]   (24,)     (24, 24)         (24, 24)         (24, 24)         (24, 24)         (24, 24)         (24,)         24
  [-22 -59]
[ 25  67]   (43,)     (43, 43)         (43, 43)         (43, 43)         (43, 43)         (43, 43)         (43,)         43
  [ 25  -4]
[-81  13]   (36,)     (36, 36)         (36, 36)         (36, 36)         (36, 36)         (36, 36)         (36,)         36
  [36 35]
[37 36]       (70,)     (70, 70)         (70, 70)         (70, 70)         (70, 70)         (70, 70)         (70,)         70
  [-61 -39]
[-86 -55]   (118,)    (118, 118)       (118, 118)       (118, 118)       (118, 118)       (118, 118)       (118,)        118
  [ 35  17]
[-68 -33]   (17,)     (17, 34)         (17, 34)         (17, 51)         (17, 102)        (17, 68)         (85,)         0
  [-41  73]
[-50  89]   (46,)     (46, 46)         (46, 46)         (46, 46)         (46, 46)         (46, 46)         (46,)         46
  [-25 -66]
[ 36  95]   (2, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 2, 34, 34)   (2, 34)       68

The exceptional cases

In [91]:
Blue_table([S**2,T,S**2*T],5)

  ()                ()       (1,2)    (1,2)(3,4)   (1,2,3)        (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)   |trace(gamma-id)|
  [-1  0]
[ 0 -1]   (2, 2)   (2, 2)   (2, 2)       (2, 2, 2, 2)   (2, 2)         (2, 2)      (2, 2)        4
  [1 1]
[0 1]       ()       (2,)     (2,)         (3,)           (6,)           (4,)        (5,)          0
  [-1 -1]
[ 0 -1]   (4,)     (2, 4)   (2, 4)       (4, 4)         (2, 4)         (2, 4)      (4,)          4