In [2]:
w = vector([1,1,-4])

In [3]:
w

(1, 1, -4)

In [8]:
sum(w)

-2

In [2]:
load("HH-of-T3.sage")

In [3]:
T = SL2Z.1
S = SL2Z.0

In [45]:
Blurange_table([T^k for k in [0,1,2,3,4,12]],4)

┌─────────────────┬────┬────┬─────┬─────┐
│ 0               | 1  | 2  | 3   | 4   |
╞═════════════════╪════╪════╪═════╪═════╡
│ [1 0]
[0 1]     | 1  | 2  | 3   | 5   |
├─────────────────┼────┼────┼─────┼─────┤
│ [1 1]
[0 1]     | 1  | 3  | 6   | 12  |
├─────────────────┼────┼────┼─────┼─────┤
│ [1 2]
[0 1]     | 2  | 6  | 16  | 34  |
├─────────────────┼────┼────┼─────┼─────┤
│ [1 3]
[0 1]     | 3  | 9  | 30  | 66  |
├─────────────────┼────┼────┼─────┼─────┤
│ [1 4]
[0 1]     | 4  | 12 | 48  | 108 |
├─────────────────┼────┼────┼─────┼─────┤
│ [ 1 12]
[ 0  1] | 12 | 36 | 336 | 804 |
└─────────────────┴────┴────┴─────┴─────┘

In [52]:
L=[T,S,S*T]

In [54]:
Blurange_table(L,5)

┌─────────────────┬───┬───┬───┬────┬────┐
│ 0               | 1 | 2 | 3 | 4  | 5  |
╞═════════════════╪═══╪═══╪═══╪════╪════╡
│ [1 1]
[0 1]     | 1 | 3 | 6 | 12 | 23 |
├─────────────────┼───┼───┼───┼────┼────┤
│ [ 0 -1]
[ 1  0] | 2 | 4 | 8 | 13 | 22 |
├─────────────────┼───┼───┼───┼────┼────┤
│ [ 0 -1]
[ 1  1] | 1 | 2 | 3 | 5  | 7  |
└─────────────────┴───┴───┴───┴────┴────┘

In [58]:
Blurange_table([S^k for k in [0,1,2,3]],6)

┌─────────────────┬───┬───┬────┬────┬────┬────┐
│ 0               | 1 | 2 | 3  | 4  | 5  | 6  |
╞═════════════════╪═══╪═══╪════╪════╪════╪════╡
│ [1 0]
[0 1]     | 1 | 2 | 3  | 5  | 7  | 11 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [ 0 -1]
[ 1  0] | 2 | 4 | 8  | 13 | 22 | 36 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [-1  0]
[ 0 -1] | 4 | 5 | 12 | 26 | 40 | 71 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [ 0  1]
[-1  0] | 2 | 4 | 8  | 13 | 22 | 36 |
└─────────────────┴───┴───┴────┴────┴────┴────┘

In [61]:
Blurange_table([(S*T)^k for k in [0,1,2,3]],6)

┌─────────────────┬───┬───┬────┬────┬────┬────┐
│ 0               | 1 | 2 | 3  | 4  | 5  | 6  |
╞═════════════════╪═══╪═══╪════╪════╪════╪════╡
│ [1 0]
[0 1]     | 1 | 2 | 3  | 5  | 7  | 11 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [ 0 -1]
[ 1  1] | 1 | 2 | 3  | 5  | 7  | 11 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [-1 -1]
[ 1  0] | 3 | 6 | 13 | 21 | 39 | 65 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [-1  0]
[ 0 -1] | 4 | 5 | 12 | 26 | 40 | 71 |
└─────────────────┴───┴───┴────┴────┴────┴────┘

In [63]:
Blurange_table([S*T^k for k in [0,1,2,3]],6)

┌─────────────────┬───┬───┬───┬────┬────┬────┐
│ 0               | 1 | 2 | 3 | 4  | 5  | 6  |
╞═════════════════╪═══╪═══╪═══╪════╪════╪════╡
│ [ 0 -1]
[ 1  0] | 2 | 4 | 8 | 13 | 22 | 36 |
├─────────────────┼───┼───┼───┼────┼────┼────┤
│ [ 0 -1]
[ 1  1] | 1 | 2 | 3 | 5  | 7  | 11 |
├─────────────────┼───┼───┼───┼────┼────┼────┤
│ [ 0 -1]
[ 1  2] | 1 | 3 | 6 | 12 | 23 | 42 |
├─────────────────┼───┼───┼───┼────┼────┼────┤
│ [ 0 -1]
[ 1  3] | 1 | 2 | 3 | 5  | 7  | 11 |
└─────────────────┴───┴───┴───┴────┴────┴────┘

Try Monica table for -T^k
same for all even k and all odd k
2 for each even distinct parts of lambda // 4 for each odd distinct parts of lambda

In [9]:
Monica_table([S^2*T^k for k in [1,2,3,4,5,6,7,12]],7)

  ()                    ()       (1,2)       (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)        (1,2,3)(4,5)      (1,2,3)(4,5)(6,7)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4)(5,6,7)   (1,2,3,4,5)    (1,2,3,4,5)(6,7)   (1,2,3,4,5,6)   (1,2,3,4,5,6,7)
  [-1 -1]
[ 0 -1]       (4,)     (2, 4)      (2, 4)       (2, 4)            (4, 4)         (2, 4, 4)         (2, 4)              (4, 4)           (2, 4)      (2, 2, 4)        (2, 4)             (4, 4)         (2, 4)             (2, 4)          (4,)
  [-1 -2]
[ 0 -1]       (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2)         (2, 2, 2, 2)   (2, 2, 2, 2, 2)   (2, 2, 2)           (2, 2, 2, 2)     (2, 2, 2)   (2, 2, 2, 2)     (2, 2, 2)          (2, 2, 2, 2)   (2, 2, 2)          (2, 2, 2)       (2, 2)
  [-1 -3]
[ 0 -1]       (4,)     (2, 4)      (2, 4)       (2, 4)            (4, 4)         (2, 4, 4)         (2, 4)              (4, 4)           (2, 4)      (2, 2, 4)        (2, 4)             (4, 4)         (2, 4)             (2, 4)          (4,)
  [-1 -4]
[ 0 -1]       (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2)         (2, 2, 2, 2)   (2, 2, 2, 2, 2)   (2, 2, 2)           (2, 2, 2, 2)     (2, 2, 2)   (2, 2, 2, 2)     (2, 2, 2)          (2, 2, 2, 2)   (2, 2, 2)          (2, 2, 2)       (2, 2)
  [-1 -5]
[ 0 -1]       (4,)     (2, 4)      (2, 4)       (2, 4)            (4, 4)         (2, 4, 4)         (2, 4)              (4, 4)           (2, 4)      (2, 2, 4)        (2, 4)             (4, 4)         (2, 4)             (2, 4)          (4,)
  [-1 -6]
[ 0 -1]       (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2)         (2, 2, 2, 2)   (2, 2, 2, 2, 2)   (2, 2, 2)           (2, 2, 2, 2)     (2, 2, 2)   (2, 2, 2, 2)     (2, 2, 2)          (2, 2, 2, 2)   (2, 2, 2)          (2, 2, 2)       (2, 2)
  [-1 -7]
[ 0 -1]       (4,)     (2, 4)      (2, 4)       (2, 4)            (4, 4)         (2, 4, 4)         (2, 4)              (4, 4)           (2, 4)      (2, 2, 4)        (2, 4)             (4, 4)         (2, 4)             (2, 4)          (4,)
  [ -1 -12]
[  0  -1]   (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2)         (2, 2, 2, 2)   (2, 2, 2, 2, 2)   (2, 2, 2)           (2, 2, 2, 2)     (2, 2, 2)   (2, 2, 2, 2)     (2, 2, 2)          (2, 2, 2, 2)   (2, 2, 2)          (2, 2, 2)       (2, 2)

In [6]:
Monica_table([S^k for k in [0,1,2,3]],5)

  ()                ()       (1,2)    (1,2)(3,4)   (1,2,3)        (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)
  [1 0]
[0 1]       ()       ()       ()           ()             ()             ()          ()
  [ 0 -1]
[ 1  0]   (2,)     (2, 2)   (2, 2)       (2, 2)         (2, 2)         (2,)        (2,)
  [-1  0]
[ 0 -1]   (2, 2)   (2, 2)   (2, 2)       (2, 2, 2, 2)   (2, 2)         (2, 2)      (2, 2)
  [ 0  1]
[-1  0]   (2,)     (2, 2)   (2, 2)       (2, 2)         (2, 2)         (2,)        (2,)