In [1]:
load("HH-of-T3-15nov.sage")

In [2]:
import sage.modules
import modules

ModuleNotFoundError: No module named 'modules'

In [3]:
T = SL2Z.1
S = SL2Z.0

In [7]:

Blurange_table([T^k for k in [0,1,2]],7)

┌─────────────┬───┬───┬────┬────┬────┬─────┬─────┐
│ 0           | 1 | 2 | 3  | 4  | 5  | 6   | 7   |
╞═════════════╪═══╪═══╪════╪════╪════╪═════╪═════╡
│ [1 0]
[0 1] | 1 | 2 | 3  | 5  | 7  | 11  | 15  |
├─────────────┼───┼───┼────┼────┼────┼─────┼─────┤
│ [1 1]
[0 1] | 1 | 3 | 6  | 12 | 23 | 42  | 77  |
├─────────────┼───┼───┼────┼────┼────┼─────┼─────┤
│ [1 2]
[0 1] | 2 | 6 | 16 | 34 | 80 | 168 | 348 |
└─────────────┴───┴───┴────┴────┴────┴─────┴─────┘

Now without taking coinvar (note that it goes much quicker)

In [11]:
Blurange_table([T^k for k in [0,1,2,3]],9,False)

┌─────────────┬───┬────┬────┬─────┬─────┬──────┬──────┬───────┬───────┐
│ 0           | 1 | 2  | 3  | 4   | 5   | 6    | 7    | 8     | 9     |
╞═════════════╪═══╪════╪════╪═════╪═════╪══════╪══════╪═══════╪═══════╡
│ [1 0]
[0 1] | 1 | 2  | 3  | 5   | 7   | 11   | 15   | 22    | 30    |
├─────────────┼───┼────┼────┼─────┼─────┼──────┼──────┼───────┼───────┤
│ [1 1]
[0 1] | 1 | 3  | 6  | 14  | 25  | 56   | 97   | 198   | 354   |
├─────────────┼───┼────┼────┼─────┼─────┼──────┼──────┼───────┼───────┤
│ [1 2]
[0 1] | 2 | 8  | 22 | 68  | 170 | 484  | 1166 | 3048  | 7274  |
├─────────────┼───┼────┼────┼─────┼─────┼──────┼──────┼───────┼───────┤
│ [1 3]
[0 1] | 3 | 15 | 54 | 210 | 699 | 2484 | 7995 | 26610 | 84186 |
└─────────────┴───┴────┴────┴─────┴─────┴──────┴──────┴───────┴───────┘

In [3]:
S = SL2Z.0
T = SL2Z.1

In [7]:
Blurange_table([S*T^k for k in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]],2)

┌─────────────────┬────┬────┐
│ 0               | 1  | 2  |
╞═════════════════╪════╪════╡
│ [ 0 -1]
[ 1  0] | 2  | 4  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  1] | 1  | 2  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  2] | 1  | 3  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  3] | 1  | 2  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  4] | 2  | 4  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  5] | 3  | 6  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  6] | 4  | 8  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  7] | 5  | 10 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  8] | 6  | 12 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  9] | 7  | 14 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 10] | 8  | 16 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 11] | 9  | 18 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 12] | 10 | 20 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 13] | 11 | 22 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 14] | 12 | 24 |
└─────────────────┴────┴────┘

In [12]:
Blurange_table([S^k for k in [0,1,2,3]],6)

┌─────────────────┬───┬───┬────┬────┬────┬────┐
│ 0               | 1 | 2 | 3  | 4  | 5  | 6  |
╞═════════════════╪═══╪═══╪════╪════╪════╪════╡
│ [1 0]
[0 1]     | 1 | 2 | 3  | 5  | 7  | 11 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [ 0 -1]
[ 1  0] | 2 | 4 | 8  | 13 | 22 | 36 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [-1  0]
[ 0 -1] | 4 | 5 | 12 | 26 | 40 | 71 |
├─────────────────┼───┼───┼────┼────┼────┼────┤
│ [ 0  1]
[-1  0] | 2 | 4 | 8  | 13 | 22 | 36 |
└─────────────────┴───┴───┴────┴────┴────┴────┘

In [13]:
Blurange_table([S^k for k in [0,1,2,3]],8,False)

┌─────────────────┬───┬────┬────┬─────┬──────┬──────┬───────┬───────┐
│ 0               | 1 | 2  | 3  | 4   | 5    | 6    | 7     | 8     |
╞═════════════════╪═══╪════╪════╪═════╪══════╪══════╪═══════╪═══════╡
│ [1 0]
[0 1]     | 1 | 2  | 3  | 5   | 7    | 11   | 15    | 22    |
├─────────────────┼───┼────┼────┼─────┼──────┼──────┼───────┼───────┤
│ [ 0 -1]
[ 1  0] | 2 | 8  | 18 | 53  | 116  | 308  | 660   | 1630  |
├─────────────────┼───┼────┼────┼─────┼──────┼──────┼───────┼───────┤
│ [-1  0]
[ 0 -1] | 4 | 17 | 72 | 290 | 1168 | 4691 | 18780 | 75157 |
├─────────────────┼───┼────┼────┼─────┼──────┼──────┼───────┼───────┤
│ [ 0  1]
[-1  0] | 2 | 8  | 18 | 53  | 116  | 308  | 660   | 1630  |
└─────────────────┴───┴────┴────┴─────┴──────┴──────┴───────┴───────┘

In [9]:
T.inverse()

[ 1 -1]
[ 0  1]

In [24]:
Blurange_table([T*S^k*T.inverse(
) for k in [0,1,2,3]],2)

┌─────────────────┬───┬───┐
│ 0               | 1 | 2 |
╞═════════════════╪═══╪═══╡
│ [1 0]
[0 1]     | 1 | 2 |
├─────────────────┼───┼───┤
│ [ 1 -2]
[ 1 -1] | 2 | 4 |
├─────────────────┼───┼───┤
│ [-1  0]
[ 0 -1] | 4 | 5 |
├─────────────────┼───┼───┤
│ [-1  2]
[-1  1] | 2 | 4 |
└─────────────────┴───┴───┘

In [23]:
Patrick_dim_GL2_skein_table([T*S^k*T.inverse(
) for k in [0,1,2,3]])

┌─────────────────┬───┐
│ [1 0]
[0 1]     | 5 |
├─────────────────┼───┤
│ [ 1 -2]
[ 1 -1] | 4 |
├─────────────────┼───┤
│ [-1  0]
[ 0 -1] | 5 |
├─────────────────┼───┤
│ [-1  2]
[-1  1] | 4 |
└─────────────────┴───┘

In [11]:
get_dim_empty_skein(T)

6

In [25]:
Blurange_table([T^k for k in [0,1,2,3,4,5,6,7]],2)

┌─────────────┬───┬────┐
│ 0           | 1 | 2  |
╞═════════════╪═══╪════╡
│ [1 0]
[0 1] | 1 | 2  |
├─────────────┼───┼────┤
│ [1 1]
[0 1] | 1 | 3  |
├─────────────┼───┼────┤
│ [1 2]
[0 1] | 2 | 6  |
├─────────────┼───┼────┤
│ [1 3]
[0 1] | 3 | 9  |
├─────────────┼───┼────┤
│ [1 4]
[0 1] | 4 | 12 |
├─────────────┼───┼────┤
│ [1 5]
[0 1] | 5 | 15 |
├─────────────┼───┼────┤
│ [1 6]
[0 1] | 6 | 18 |
├─────────────┼───┼────┤
│ [1 7]
[0 1] | 7 | 21 |
└─────────────┴───┴────┘

In [26]:
Patrick_dim_GL2_skein_table([T^k for k in [0,1,2,3,4,5,6,7]])

┌─────────────┬───┐
│ [1 0]
[0 1] | 5 |
├─────────────┼───┤
│ [1 1]
[0 1] | 4 |
├─────────────┼───┤
│ [1 2]
[0 1] | 6 |
├─────────────┼───┤
│ [1 3]
[0 1] | 5 |
├─────────────┼───┤
│ [1 4]
[0 1] | 7 |
├─────────────┼───┤
│ [1 5]
[0 1] | 6 |
├─────────────┼───┤
│ [1 6]
[0 1] | 8 |
├─────────────┼───┤
│ [1 7]
[0 1] | 7 |
└─────────────┴───┘

In [4]:
L = SL2Z([1,0,1,1])
L

[1 0]
[1 1]

In [6]:
Patrick_dim_GL2_skein_table([T*L**k for k in [0,1,2,3,4,5,6,7,8,9,10]])

┌─────────────────┬────┐
│ [1 1]
[0 1]     | 4  |
├─────────────────┼────┤
│ [2 1]
[1 1]     | 4  |
├─────────────────┼────┤
│ [3 1]
[2 1]     | 6  |
├─────────────────┼────┤
│ [4 1]
[3 1]     | 6  |
├─────────────────┼────┤
│ [5 1]
[4 1]     | 8  |
├─────────────────┼────┤
│ [6 1]
[5 1]     | 8  |
├─────────────────┼────┤
│ [7 1]
[6 1]     | 10 |
├─────────────────┼────┤
│ [8 1]
[7 1]     | 10 |
├─────────────────┼────┤
│ [9 1]
[8 1]     | 12 |
├─────────────────┼────┤
│ [10  1]
[ 9  1] | 12 |
├─────────────────┼────┤
│ [11  1]
[10  1] | 14 |
└─────────────────┴────┘

In [7]:
Patrick_dim_GL2_skein_table([T**2*L**k for k in [0,1,2,3,4,5,6,7,8,9,10]])

┌─────────────────┬────┐
│ [1 2]
[0 1]     | 6  |
├─────────────────┼────┤
│ [3 2]
[1 1]     | 6  |
├─────────────────┼────┤
│ [5 2]
[2 1]     | 10 |
├─────────────────┼────┤
│ [7 2]
[3 1]     | 10 |
├─────────────────┼────┤
│ [9 2]
[4 1]     | 14 |
├─────────────────┼────┤
│ [11  2]
[ 5  1] | 14 |
├─────────────────┼────┤
│ [13  2]
[ 6  1] | 18 |
├─────────────────┼────┤
│ [15  2]
[ 7  1] | 18 |
├─────────────────┼────┤
│ [17  2]
[ 8  1] | 22 |
├─────────────────┼────┤
│ [19  2]
[ 9  1] | 22 |
├─────────────────┼────┤
│ [21  2]
[10  1] | 26 |
└─────────────────┴────┘

In [9]:
dim_skeinmod(T**2*L**4 ,2)

16

In [16]:
gamma = S*T
gamma.order()

6

Trying some stuff with generating functions.

22/11 poging 2

In [4]:
P.<t> = LazyPowerSeriesRing(QQ) 
f = P()

In [5]:
P.some_elements()

[0,
 1,
 t + 1/2*t^2 + 1/2*t^3 + 1/2*t^4 + O(t^5),
 -12 - 8*t + t^2 + t^3,
 1 + t - 2*t^2 - 7*t^3 - t^4 + 20*t^5 + 23*t^6 + O(t^7),
 t + 4*t^2 + 9*t^3 + 16*t^4 + 25*t^5 + 36*t^6 + O(t^7)]

In [6]:
euler = P.prod(lambda n: 1 - n*t^n, PositiveIntegers())
1/euler

1 + t + 3*t^2 + 6*t^3 + 14*t^4 + 25*t^5 + 56*t^6 + O(t^7)

In [7]:
L = P.prod(lambda n: 1 + n*t^n/(1-t^n), PositiveIntegers())
L

1 + t + 3*t^2 + 6*t^3 + 12*t^4 + 23*t^5 + 42*t^6 + O(t^7)

In [8]:
L = P.prod(lambda n: 1 + 2*n*t^n/(1-t^n), PositiveIntegers())
L

1 + 2*t + 6*t^2 + 16*t^3 + 34*t^4 + 80*t^5 + 168*t^6 + O(t^7)

In [9]:
L = P.prod(lambda n: 1 + 3*n*t^n/(1-t^n), PositiveIntegers())
L

1 + 3*t + 9*t^2 + 30*t^3 + 66*t^4 + 171*t^5 + 414*t^6 + O(t^7)

In [10]:
Blurange_table([T^k for k in [0,1,2,3]],7)

┌─────────────┬───┬───┬────┬────┬─────┬─────┬─────┐
│ 0           | 1 | 2 | 3  | 4  | 5   | 6   | 7   |
╞═════════════╪═══╪═══╪════╪════╪═════╪═════╪═════╡
│ [1 0]
[0 1] | 1 | 2 | 3  | 5  | 7   | 11  | 15  |
├─────────────┼───┼───┼────┼────┼─────┼─────┼─────┤
│ [1 1]
[0 1] | 1 | 3 | 6  | 12 | 23  | 42  | 77  |
├─────────────┼───┼───┼────┼────┼─────┼─────┼─────┤
│ [1 2]
[0 1] | 2 | 6 | 16 | 34 | 80  | 168 | 348 |
├─────────────┼───┼───┼────┼────┼─────┼─────┼─────┤
│ [1 3]
[0 1] | 3 | 9 | 30 | 66 | 171 | 414 | 897 |
└─────────────┴───┴───┴────┴────┴─────┴─────┴─────┘

Conclusion: generating function for gamma = T^k, GL_m-skein modules (so take_coinv=True) is product from n = 1 to infinity 1 + k*n*t^n/(1-t^n)

In [16]:
LazyPowerSeriesRing(QQ)?

Init signature: LazyPowerSeriesRing(base_ring, names, sparse=True, category=None)
Docstring:
   The ring of (possibly multivariate) lazy Taylor series.

   INPUT:

   * "base_ring" -- base ring of this Taylor series ring

   * "names" -- name(s) of the generator of this Taylor series ring

   * "sparse" -- (default: "True") whether this series is sparse or
     not

   EXAMPLES:

      sage: LazyPowerSeriesRing(ZZ, 't')
      Lazy Taylor Series Ring in t over Integer Ring

      sage: L.<x, y> = LazyPowerSeriesRing(QQ); L
      Multivariate Lazy Taylor Series Ring in x, y over Rational Field
Init docstring:    Initialize "self".
File:           /home/sage/sage/local/var/lib/sage/venv-python3.11.1/lib/python3.11/site-packages/sage/rings/lazy_series_ring.py
Type:           ClasscallMetaclass
Subclasses:     LazyPowerSeriesRing_with_category