# Showcase
Notebook showing the claims for different gammas, following table in other document.

In [2]:
load("HH-of-T3.sage")
S = SL2Z.0
T = SL2Z.1

### For $S$ and $S^3= -S$:
A factor $2$ for each distinct $\lambda_i$, unless $\lambda_i$ is a multiple of $4$

In [3]:
Monica_table([S,S**3],5)

  ()                ()     (1,2)    (1,2)(3,4)   (1,2,3)   (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)
  [ 0 -1]
[ 1  0]   (2,)   (2, 2)   (2, 2)       (2, 2)    (2, 2)         (2,)        (2,)
  [ 0  1]
[-1  0]   (2,)   (2, 2)   (2, 2)       (2, 2)    (2, 2)         (2,)        (2,)

### For $E_+ = TS$ and $E_- = (TS)^{-1}$:
A factor $1$ for each (distinct) $\lambda_i$. (Note: regular cause $|tr(id-\gamma)| = 1$)

In [4]:
Monica_table([T*S,(T*S)**(-1)],5)

  ()                ()   (1,2)   (1,2)(3,4)   (1,2,3)   (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)
  [ 1 -1]
[ 1  0]   ()   ()      ()           ()        ()             ()          ()
  [ 0  1]
[-1  1]   ()   ()      ()           ()        ()             ()          ()

### For $-E_+ = -TS$ and $-E_- = -(TS)^{-1}$:
A factor $3$ for each distinct $\lambda_i$, unless $\lambda_i$ is a multiple of $3$

In [28]:
Monica_table([S**2*T*S,S**2*(T*S)**(-1)],6)

  ()                ()     (1,2)    (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)   (1,2,3)(4,5)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4,5)   (1,2,3,4,5,6)
  [-1  1]
[-1  0]   (3,)   (3, 3)   (3, 3)       (3,)              (3,)      (3, 3)         ()               (3, 3)      (3, 3)           (3, 3)        ()
  [ 0 -1]
[ 1 -1]   (3,)   (3, 3)   (3, 3)       (3,)              (3,)      (3, 3)         ()               (3, 3)      (3, 3)           (3, 3)        ()

### For Id:
A factor $1$ for each (distinct) $\lambda_i$.

In [29]:
Monica_table([S**4],6)

  ()            ()   (1,2)   (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)   (1,2,3)(4,5)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4,5)   (1,2,3,4,5,6)
  [1 0]
[0 1]   ()   ()      ()           ()                ()        ()             ()               ()          ()               ()            ()

### For -Id:
A factor $4$ for odd distinct $\lambda_i$, a factor $1$ for even $\lambda_i$.
Note that code gives $(2,2)$ and not $(4)$ but for calculating skein module dimensions we only care about the product of the code output.

In [30]:
Monica_table([S**2],6)

  ()                ()       (1,2)    (1,2)(3,4)   (1,2)(3,4)(5,6)   (1,2,3)        (1,2,3)(4,5)   (1,2,3)(4,5,6)   (1,2,3,4)   (1,2,3,4)(5,6)   (1,2,3,4,5)    (1,2,3,4,5,6)
  [-1  0]
[ 0 -1]   (2, 2)   (2, 2)   (2, 2)       ()                (2, 2, 2, 2)   (2, 2, 2, 2)   (2, 2)           (2, 2)      ()               (2, 2, 2, 2)   ()

### For $T^m$, $m$ nonzero integer:
A factor $|m|\lambda_i$ for each distinct $\lambda_i$.
Same remark as before: when calculating skein module dimensions we only care about the product of the code output.

In [36]:
Monica_table([T**k for k in range(-6,0)]+[T**k for k in range(1,7)],5)

  ()                ()     (1,2)     (1,2)(3,4)   (1,2,3)   (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)
  [ 1 -6]
[ 0  1]   (6,)   (6, 12)   (6, 12)      (6, 18)   (6, 36)        (6, 24)     (30,)
  [ 1 -5]
[ 0  1]   (5,)   (5, 10)   (5, 10)      (5, 15)   (5, 30)        (5, 20)     (25,)
  [ 1 -4]
[ 0  1]   (4,)   (4, 8)    (4, 8)       (4, 12)   (4, 24)        (4, 16)     (20,)
  [ 1 -3]
[ 0  1]   (3,)   (3, 6)    (3, 6)       (3, 9)    (3, 18)        (3, 12)     (15,)
  [ 1 -2]
[ 0  1]   (2,)   (2, 4)    (2, 4)       (2, 6)    (2, 12)        (2, 8)      (10,)
  [ 1 -1]
[ 0  1]   ()     (2,)      (2,)         (3,)      (6,)           (4,)        (5,)
  [1 1]
[0 1]       ()     (2,)      (2,)         (3,)      (6,)           (4,)        (5,)
  [1 2]
[0 1]       (2,)   (2, 4)    (2, 4)       (2, 6)    (2, 12)        (2, 8)      (10,)
  [1 3]
[0 1]       (3,)   (3, 6)    (3, 6)       (3, 9)    (3, 18)        (3, 12)     (15,)
  [1 4]
[0 1]       (4,)   (4, 8)    (4, 8)       (4, 12)   (4, 24)        (4, 16)     (20,)
  [1 5]
[0 1]       (5,)   (5, 10)   (5, 10)      (5, 15)   (5, 30)        (5, 20)     (25,)
  [1 6]
[0 1]       (6,)   (6, 12)   (6, 12)      (6, 18)   (6, 36)        (6, 24)     (30,)

### For $-T^m$, $m$ nonzero integer:
A factor $4$ for each distinct odd $\lambda_i$, a factor $2$ for each distinct even $\lambda_i$.
Same remark as before: when calculating skein module dimensions we only care about the product of the code output. For example for odd $m$ it gives $(4)$ for odd $\lambda_i$ and for even $m$ it gives $(2,2)$ for odd $\lambda_i$, so they give same end result.

In [37]:
Monica_table([S**2*T**k for k in range(-6,0)]+[S**2*T**k for k in range(1,7)],5)

  ()                ()       (1,2)       (1,2)(3,4)   (1,2,3)        (1,2,3)(4,5)   (1,2,3,4)   (1,2,3,4,5)
  [-1  6]
[ 0 -1]   (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2, 2)   (2, 2, 2)      (2, 2, 2)   (2, 2)
  [-1  5]
[ 0 -1]   (4,)     (2, 4)      (2, 4)       (4, 4)         (2, 4)         (2, 4)      (4,)
  [-1  4]
[ 0 -1]   (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2, 2)   (2, 2, 2)      (2, 2, 2)   (2, 2)
  [-1  3]
[ 0 -1]   (4,)     (2, 4)      (2, 4)       (4, 4)         (2, 4)         (2, 4)      (4,)
  [-1  2]
[ 0 -1]   (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2, 2)   (2, 2, 2)      (2, 2, 2)   (2, 2)
  [-1  1]
[ 0 -1]   (4,)     (2, 4)      (2, 4)       (4, 4)         (2, 4)         (2, 4)      (4,)
  [-1 -1]
[ 0 -1]   (4,)     (2, 4)      (2, 4)       (4, 4)         (2, 4)         (2, 4)      (4,)
  [-1 -2]
[ 0 -1]   (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2, 2)   (2, 2, 2)      (2, 2, 2)   (2, 2)
  [-1 -3]
[ 0 -1]   (4,)     (2, 4)      (2, 4)       (4, 4)         (2, 4)         (2, 4)      (4,)
  [-1 -4]
[ 0 -1]   (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2, 2)   (2, 2, 2)      (2, 2, 2)   (2, 2)
  [-1 -5]
[ 0 -1]   (4,)     (2, 4)      (2, 4)       (4, 4)         (2, 4)         (2, 4)      (4,)
  [-1 -6]
[ 0 -1]   (2, 2)   (2, 2, 2)   (2, 2, 2)    (2, 2, 2, 2)   (2, 2, 2)      (2, 2, 2)   (2, 2)

### For regular ones, i.e. $|tr(\gamma)| > 2$ :
A factor equal to $|tr(\gamma-Id)|$ for each distinct $\lambda_i$.
Blue_table is exactly the same as Monica_table + an extra column that prints $|tr(\gamma-Id)|$. Code gives results for 10 random gammas.

In [38]:
Blue_table([SL2Z.random_element() for k in range(10)],5)

  ()                    ()        (1,2)            (1,2)(3,4)       (1,2,3)          (1,2,3)(4,5)     (1,2,3,4)        (1,2,3,4,5)   |trace(gamma-id)|
  [ 39 -56]
[ 23 -33]   (4,)      (4, 4)           (4, 4)           (4, 4)           (4, 4)           (4, 4)           (4,)          4
  [-26  49]
[ 35 -66]   (94,)     (94, 94)         (94, 94)         (94, 94)         (94, 94)         (94, 94)         (94,)         94
  [ 11 -18]
[ 41 -67]   (58,)     (58, 58)         (58, 58)         (58, 58)         (58, 58)         (58, 58)         (58,)         58
  [-59  96]
[ 51 -83]   (3, 48)   (3, 3, 48, 48)   (3, 3, 48, 48)   (3, 3, 48, 48)   (3, 3, 48, 48)   (3, 3, 48, 48)   (3, 48)       144
  [ 71 -65]
[ 59 -54]   (15,)     (15, 15)         (15, 15)         (15, 15)         (15, 15)         (15, 15)         (15,)         15
  [-36  49]
[-61  83]   (45,)     (45, 45)         (45, 45)         (45, 45)         (45, 45)         (45, 45)         (45,)         45
  [94 27]
[87 25]       (3, 39)   (3, 3, 39, 39)   (3, 3, 39, 39)   (3, 3, 39, 39)   (3, 3, 39, 39)   (3, 3, 39, 39)   (3, 39)       117
  [-43  31]
[ 61 -44]   (89,)     (89, 89)         (89, 89)         (89, 89)         (89, 89)         (89, 89)         (89,)         89
  [ 83 -50]
[-78  47]   (2, 64)   (2, 2, 64, 64)   (2, 2, 64, 64)   (2, 2, 64, 64)   (2, 2, 64, 64)   (2, 2, 64, 64)   (2, 64)       128
  [-24 -13]
[ 61  33]   (7,)      (7, 7)           (7, 7)           (7, 7)           (7, 7)           (7, 7)           (7,)          7